
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-color:#00c9a5;
    --nav-color:#00afa5;
    --bg-color:#e8f3f1;
    --black:#2f4858;
}

/* BASE */
html {
    font-size: 62.5%;
}
body {
    background: var(--bg-color);
}

/* HEADER */
.header {
    background: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: space-between;   /* LOGO left – NAVBAR middle – ICONS right */
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header .logo{
       height: 130px;  
    border-radius: 37%;
}

/* LOGO */
.header .logo img {
    height: 160px;
    border-radius: 37%;
    font-size: 2rem;
}

/* NAVBAR */
.header .navbar a {
    display: inline-block;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 2rem;
    transition: all 0.3s ease;
}

/* NAV HOVER */
.header .navbar a:hover,
.header .navbar a:focus {
background: linear-gradient(135deg, #f6d365, #fda085);
  transform: scale(1.12);
  gap: 1rem;
    box-shadow: 0 6px 14px rgba(211,206,214,0.45);
}

/* NAV ACTIVE */
.header .navbar a:active {
    transform: scale(0.95);
    box-shadow: 0 4px 10px rgba(158,204,50,0.5);
}

/* ICONS WRAPPER */
.icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 2rem;  /* moves icons slightly left from corner */
}

/* ICON BOX */
.icons div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    transition: 0.3s ease;
}

/* ICON */
.icons div i {
    color: #fff;
    font-size: 2rem;
    transition: 0.3s ease;
}

/* ICON HOVER */
.icons div:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.15);
    gap:1rem
}
.icons div:hover i {
    color: #ffe4b5;
}
.icons .menu-icon{
    display: none;
}
/* search box*/
/* SEARCH BOX WRAPPER */
.header .search-form {
    position: absolute;
    display: flex;
    align-items: center;
    top: 115%;
    right: -100%;  /*it hide the search icon*/
    width: 40rem;
    height: 5rem;
    background: #fff;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.header .search-form.active{
    right: 7%;  /*it show the search icon*/

}

/* SEARCH INPUT */
.header .search-form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--black);
    background: transparent;
   text-transform: none;
    border-radius: 3.8px;
}
.header .search-form  label{
   font-size:  1.7rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form  label:hover{
    color: var(--main-color);

}
/*cart section*/
.header .cart-items-conatiner{
    position: absolute;
    top: 100%;
    right: 0;
    width: 25rem;
    background-color: #fff;
    height: 80vh;
    border: 1px solid black;
    padding: 0.8rem;
}
.header .cart-items-conatiner .cart-item{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: 1px solid black;
    position: relative;
    gap:1rem;

}
.header .cart-items-conatiner .cart-item img{
    width: 7rem;
}
.header .cart-items-conatiner .cart-item span{
    position: absolute;
    top: 0;
    right: 4%;
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}
.header .cart-items-conatiner .cart-item span:hover{
    color: red;
}
.header .cart-items-conatiner .cart-item .content h3{
    font-size: 1.5rem;
    color: var(--black);
    padding-bottom: 0.5rem;
} 
.header .cart-items-conatiner .cart-item .content .price{
 font-size: 1.3rem;
    color: var(--main-color);
}





